.wrapper {
  max-width: 80%;
  margin: auto;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
}

.astar-title {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  flex: 1;
}

.visualize-btn {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: darkslateblue;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.clear-grid-btn {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: darkslateblue;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.initialize-grid-btn {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: darkslateblue;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.custom-grid-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
}

.custom-rows {
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.custom-cols {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.custom-rows-title {
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 1rem;
}
.custom-cols-title {
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 1rem;
}
