.Nav {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 10px black;
  background-color: #3b3b3b;
  margin-bottom: 25px;
}

.Nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.Nav_brand {
  text-decoration: none;
  color: rgba(247, 241, 241, 0.9);
  font-size: 1.4rem;
  margin-left: 10%;
  margin-right: 5%;
}

.Nav_right {
  font-size: 1.2rem;
  margin-right: 15%;
  margin-left: 5%;
}

.Nav_item_wrapper {
  list-style: none;
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0;
}

.Nav_item {
  margin: 20px;
}

.Nav_link {
  text-decoration: none;
  color: rgba(247, 241, 241);
}

.selected {
  color: rgb(190, 125, 255);
}

@media screen and (max-width: 490px) {
  .Nav_brand {
    font-size: 1.2rem;
    margin-left: 5%;
  }
}
@media screen and (max-width: 430px) {
  .Nav_link {
    font-size: 16px;
  }
  .Nav_brand {
    font-size: 1rem;
  }
  .Nav_item {
    margin-right: 0px;
  }
}
