.node {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.node-start {
  background-color: green;
  z-index: 100;
}

.node-end {
  background-color: crimson;
  z-index: 100;
}

.node-reset {
  background-color: white;
}
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.8);
    background-color: rgba(149, 117, 205, 0.75);
    border-radius: 15%;
  }

  50% {
    background-color: #90caf9;
  }

  75% {
    transform: scale(1.2);
    background-color: #90caf9;
  }

  100% {
    transform: scale(1);
    background-color: #90caf9;
  }
}

.node-wall {
  background-color: rgb(0, 0, 0);
}
.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #c781c4;
  }

  50% {
    transform: scale(1.2);
    background-color: #c781c4;
  }

  100% {
    transform: scale(1);
    background-color: #81c784;
  }
}
